/* 整体背景 */
.index-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
    background-image: url(../images/index/bg-grunge.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


/* 顶部 */
.title{
    width: auto;
    height: 600px;
    overflow: hidden;
}

.title-pin{
    position: relative;
    width: auto;
    height: 600px;
}

/* 中间部分 */
.title-center{
    position: absolute;
    top: 295px;
    height: 240px;
    padding: 35px;
    box-sizing: border-box;
}

/* 标题文字 */
.title-text{
    margin: 15px 0 19px;
    font-size: 70px;
}

/* 按钮 */
.title-buttons{
    width: auto;
    height: 64px;
    margin-left: -31px;   
}

.title-button{
    position: absolute;
    top: 135px;
    width: 221px;
    height: 61px;
    margin: 0 0 15px 25px;
    transition: all 0.7s;
}

.title-button:nth-child(2){
    left: 245px;
}

.title-button:hover{
    top: 132px;
}


.title-button1-left{
    width: 28px;
    height: 61px;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -60px -329px;
}

.title-button1-center{
    width: 165px;
    height: 61px;
    line-height: 60px;
    background-image: url(../images/index/button-yellow-m.webp);
    color: #000000;
}

.title-button1-right{
    width: 28px;
    height: 61px;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -90px -329px;
}


.title-button2-left{
    width: 28px;
    height: 61px;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -282px -236px;
}

.title-button2-center{
    width: 165px;
    height: 61px;
    line-height: 60px;
    background-image: url(../images/index/button-m.webp);
    color: #fff;
}

.title-button2-right{
    width: 28px;
    height: 61px;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -312px -236px;
}



/* 背景视频 */
.title video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}



/* 游戏评价 */
.game-reviews{
    float: left;
    width: 100%;
    height: 73px;
    border-top: 1px solid #ffea02;
}

.game-reviews-pin{
    width: 100%;
    height: 62px;
    padding: 35px 0 35px;
    border-top: 1px solid #ffea02;
    background-image: url(../images/index/tvlines.jpg); 
}

.game-reviews-bg{
    position: relative;
    top: -35px;
    width: 100%;
    height: 132px;
    background: radial-gradient(circle at 50% 150%,transparent,rgba(0,0,0,.8),#000);
}

.game-reviews-content{
    position: absolute;
    left : 120px;
    display: none;
    width: 1080px;
    height: 62px;
    padding: 40px 60px 0;
    margin: 0 auto;
}

.game-reviews-content h3,
.game-reviews-content h4{
    font-size: 30px;
    font-family: borderland;
    text-align: center;
}


/* 精选 */
.game-handpick{
    float: left;
    width: 100%;
    height: 1050px;
    box-sizing: border-box;
    overflow: hidden;
}

.game-handpick-pin{
    position: relative;
    width: 100%;
    height: 1050px;
    z-index: 14;
}


.game-handpick-content{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 810px;
    padding: 60px 0;
}

.game-handpick-title{
    float: left;
    width: 100%;
    height: 40px;
    padding-bottom: 45px;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    font-size: 42px;
    color: #ffea02;
    font-family: borderland,sans-serif;
    line-height: .95;
}

.game-handpick-news{
    float: left;
    margin: 0 322px;
    width: 845px;
    height: 740px;
    padding: 0 15px;
}

.game-handpick-firstnews{
    width: 815px;
    height: 458px;
    padding: 15px;
}

.game-handpick-boxup{
    width: 100%;
    height: 100%;
    overflow: hidden;    
}


.game-handpick-news-content{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.mask-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.15);
    transition: all 0.4s;
}


.game-handpick-news-content img{
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}

.img-change{
    transform: scale(1.05); 
}


.newsimg-bg{
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 103px;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.75) 50%);
}

.hx-px{
    height: 148px;
}

.newsimg-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 4px 20px;
    box-sizing: border-box;
    transition: all 0.8s;
}

.newsimg-title-top{  
    width: 100%;
    height: 14px;
    margin-bottom: 2px;
    font-weight: 700;
    color: #019ef9;
    font-size: 13px;
}

.newsimg-title-bottom{
    width: 100%;
    /* height: auto; */
    font-size: 30px;
    font-family: borderland,sans-serif;
    color: #ffffff;
}

.game-handpick-othernews{
    float: left;
    width: 392px;
    height: 220px;
    padding: 15px;
}


/* 其他内容 */
.other{
    position: relative;
    top: -60px;
    float: left;
    width: 100%;
    height: 492px;
    z-index: 1;
}

.other-pin{
    position: relative;
    width: 100%;
    height: 610px;
}


.other-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    z-index: -1;
}

.bg-top{
    background-position: top;
    background-image: url(../images/index/bg-grunge-top.hq.webp);
}

.bg-bottom{
    background-position: bottom;
    background-image: url(../images/index/bg-grunge-bottom.hq.webp);
}


.other-content{
    width: 100%;
    height: 490px;
    padding: 60px 0;
}

.other-contain{
    position: relative;
    width: 1180px;
    height: 430px;
    padding: 0 10px;
    margin: 0 160px;
}

.other-contain h2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    padding-bottom: 60px;
    font-size: 42px;
    text-align: center;
}

.other-list{
    position: absolute;
    top: 97px;
    width: 1200px;
    height: 233px;
}

.other-list-othernews{
    float: left;
    width: 380px;
    height: 213px;
    padding: 10px;
}


.read-more{
    position: absolute;
    top: 321px;
    width: 1200px;
    height: 57px;
    padding-top: 60px;
    text-align: center;
}

.other-button{
    position: absolute;
    top: 60px;
    width: auto;
    height: 61px;
    transition: all 0.7s;
    transform: translateX(220%);
}

.other-button:hover{
    top: 53px;
}


.other-btn-left{
    width: 28px;
    height: 61px;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -282px -236px;
}

.other-btn-center{
    width: 165px;
    height: 61px;
    line-height: 60px;
    background-image: url(../images/index/button-m.webp);
    color: #fff;
}

.other-btn-right{
    width: 28px;
    height: 61px;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -312px -236px;
}



/* 特色内容 */
.feature{
    position: relative;
    /* bottom: -1062px; */
    width: 100%;
    height: 981px;
    overflow: hidden;
    z-index: 12;
}

.feature-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 862px;
    padding: 60px 0;
}

.feature-contain{
    width: 1200px;
    height: 861px;
    margin: 0 160px;
}

.feature-content-title{
    width: 100%;
    height: 40px;
    padding-bottom: 60px;
    font-size: 42px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

.feature-content-list{
    width: 915px;
    height: 547px;
    margin: 0 142px;
    box-sizing: border-box;
}

.feature-content-bigImg{
    position: relative;
    width: 100%;
    height: 513px;
}

.feature-content-bigImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.feature-content-introduce{
    position: absolute;
    bottom: 277px;
    width: 920px;
    height: 45px;
}

.feature-button{
    position: relative;
    top: 0;
    float: left;
    width: 190px;
    height: 100%;
    padding: 0 20px;
    transition: all 0.7s;
}


.feature-button:hover{
    top: -5px;
}


.feature-btn-left{
    width: 17px;
    height: 100%;
    background-image: url(../images/index/sprite-ui-1x.png);
    /* background-position: -86px -428px; */

    background-position: -48px -428px;
}

.feature-btn-center{
    width: 156px;
    height: 47px;
    font-size: 17px;
    line-height: 48px;
    font-family: borderlands,sans-serif;
    background-image: url(../images/index/button-black-m.webp);
    color: #009cf7;
}

.feature-btn-right{
    width: 17px;
    height: 100%;
    background-image: url(../images/index/sprite-ui-1x.png);
    background-position: -67px -428px;

    /* background-position: -105px -428px; */
}

.btn-left-white{
    background-position: -86px -428px;
}

.btn-center-white{
    background-image: url(../images/index/button-white-m.webp);
    color: #000;
}

.btn-right-white{
    background-position: -105px -428px;
}


.feature-content-text{
    width: 1200px;
    height: 155px;
    padding-top: 60px;
}


.feature-text-full{
    position: absolute;
    width: 1200px;
    display: none;
}

.heigh{
    height: 155px;
}

.med{
    height: 137px;
}

.sm{
    height: 107px;
}


.feature-text-full h3{
    color: #fff;
    font-size: 42px;
    text-align: center;
}

.feature-text-full p{
    width: 608px;
    height: auto;
    padding:20px 80px 0;
    margin: 0 216px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}


/* 社区 */
.community{
    position: relative;
    top: -60px;
    float: left;
    width: 100%;
    height: 442px;
}

.community-pin{
    position: relative;
    width: 100%;
    height: 561px;
}

.community-content{
    width: 100%;
    height: 441px;
    padding: 60px 0;
}

.community-container{
    width: 1200;
    height: 321px;
    padding: 60px 0;
    margin: 0 160px;
}

.community-container h3{
    float: left;
    width: 100%;
    height: 40px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 42px;
}


.community-lists{
    float: left;
    width: 100%;
    height: 240px;
}

.community-list{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 15px;
    cursor: pointer;
    background-color: #000;
    overflow: hidden;
    transition: all 0.2s;
}


.community-list img{
    height: 100%;
}

.community-bigImg-change1{
    position: relative;
    left:-54px;
}

.community-bigImg-change2{
    position: relative;
    left: 20px;
}

.community-img-animate{
    transform: scale(1.1); 
}

.community-list-down{
    position: absolute;
    bottom: 0;
    width: 180px;
    height: 16px;
    padding: 30px 10px 15px;
    line-height: 20px;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7) 50%);
    display: none;
}

.community-list-down a{
    float: left;
    width: auto;
    height: 100%;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    font-family: 'Posterama Text Regular', Helvetica, Arial, sans-serif;
}

.community-list-down s{
    float: left;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    font-family: 'Posterama Text Regular', Helvetica, Arial, sans-serif;
}

.community-list-down i{
    float: right;
    width: 16px;
    height: 100%;
    color: #fff;
    font-size: 13px;
}


.buy{
    float: left;
    width: 100%;
    height: 930px;
    overflow: hidden;
}

.buy-pin{
    position: relative;
    width: 100%;
    height: 930px;
}

.buy-content{
    position: absolute;
    top: 0;
    width: 1200px;
    height: 470px;
    padding: 60px 0;
    margin: 0 160px;
}

.buy-content h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 42px;
    text-shadow: 1px 1px 2px #000;
}

.buy-content h5{
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    text-shadow: 1px 1px 2px #000;
}

.buy-versions{
    width: 100%;
    height: 341px;
    margin-bottom: 20px;
}


.buy-versions-list{
    float: left;
    width: 400px;
    height: 100%;
}

.buy-versions-list img{
    width: 230px;
    height: 290px;
    margin: 0 88px 15px;
    cursor: pointer;
    transition: all 0.7s;
}

.buy-versions-list:hover img{
    transform: scale(1.05); 
}


.buy-versions-list h5{
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center;
}
